.container{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.avatar{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
}
.follow{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-left: -3%;
    text-align: right;
}
.block1{
    width: 50%;

}
.block2{
    width: 50%;
}
h3{
    text-align: center;
}