input{
    width: 400px;
    height: 30px;
    outline: none;
    margin-top: 2%;
    margin-left: 2%;
    color: white;
    background-color: rgb(41, 37, 37);
    font-size: 20px;
    border-radius: 10px;
}
button{
    width: 50px;
    height: 40px;
    outline: none;
    color: white;
    background-color: rgb(41, 37, 37);
    margin-left: 0.5%;
    border-radius: 30px;
    margin-top: 2%;
    
}
.head{
    width: 100%;
    height: 100px;
    background-color: rgb(41, 37, 37);
    display: flex;
}
.icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 0.5%;
}